.footer {
    /* border: 1px solid grey; */
    max-width: 95%;
}

.divisor {
    background-color: #04aef0;
    color: #000f14;
    font: normal normal normal 14px/14px Nunito;
    letter-spacing: 1.4px;
}
.footer-ul {
    font: normal normal normal 14px/22px Nunito;
    letter-spacing: 0px;
    color: #000f14;
}

.footer-links {
    font: normal normal normal 14px/24px Nunito;
    letter-spacing: 0px;
    color: #888888;
}

.footer-media-title {
    font: normal normal normal 14px/22px Nunito;
    letter-spacing: 1.4px;
    color: #888888;
}

.footer-media-text {
    font: normal normal normal 19px/29px Nunito;
    letter-spacing: 0px;
    color: #000f14;
}

.footer-bottom-grail{
    font: normal normal normal 22px/20px Times New Roman;
    letter-spacing: 7.7px;
}

.footer-bottom-copyright{
    font: normal normal normal 14px/20px Nunito;
    letter-spacing: 1.74px;
    color: #000F14;
}

.footer-bottom-text{
    text-align: right;
    font: normal normal normal 28px/38px Times New Roman;
    letter-spacing: 2.8px;
    color: #D9D9D9;
}

@media screen and (max-width: 600px) {
    .hide {
        display: none;
    }
}
.linkFooter:visited {
    color: black;
}
