.header{
    height: 200px;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo{
    width: 100px;
    border: 1px solid red;
}

.form{
    margin: auto auto;
    width: 90%;
}

.login{
    margin: 0 auto;
    text-align: center;
}