.grid {
    display: grid;
    grid-template-columns: 350px 350px;
}

.card {
    width: 18rem;
    margin: 50px;
}

.card-body {
    display: none;
}

.card-title {
    text-align: center;
}

.number {
    display: inline;
}

.divDis {
    display: inline;
    float: right;
}

.a {
    margin-top: 10px;
    width: 49%;
}

.b {
    margin-top: 10px;
    width: 100%;
}